@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
* {
    box-sizing: border-box;
   font-family: "Roboto", "sans serif"; 
   font-family: "Shrikhand", "cursive";
}

/* GENERAL */
.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-column-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.decoration-none {
    text-decoration: none;
}

.bordure-none {
    border: none;
}

.text-gras {
    font-weight: bold;
}

.color-violet {
    color: #9356dc;
}

.color-pink {
    color: #ff79da;
}

.color-turquoise {
    color: #99e2d0;
}

.back-color-grey {
    background-color: #dcdcdc;
}
/* GENERAL END */
 
/* MOBILE DEVICE */

@media screen and (max-width: 768px) {
 /* HEADER */
 .size-title {
     height: auto;
 }
 .size-logo {
     height: 30px;
     width: 200px;
 }
 .marg-logo {
     margin-top: 30px;
     margin-bottom: 20px;
 }
 /* HEADER END */

 /* MAIN */

 /** localisation **/
 .size-localisation {
     height: 50px;
     box-shadow: 0 -4px #c0c0c0;
     
 }
 .size-icon-localisation {
     height: 50px;
     width: 50px;
 }
 .padding-icon-loc {
     padding-left: 40px;
 }
 .padding-localisation {
     padding-left: 20px;
 }
 .recherche {
    height: auto;
    width: 230px;
    font-size: 15px;
    margin-top: 4px;
    color: black;
    font-weight: bold;
    font-family: "Roboto";
 }
 /** localisation end **/

 /** explore **/
}
 