@use  "../utils/mixin.scss";
@use  "../utils/colors.scss";
@use "../utils/variables.scss"; 









.position {
    @include mixin.flex-center;
   

    background-color: colors.$lightgrey;
    padding-top: 10px;

    & h2 {
        font-family: "Roboto", " sans serif ";
        font-size: 1rem;
        font-weight: 500;
        padding-left: 10px;

    }

}