@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
*,
::before ::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "sans serif";
}

.header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.1rem;
  position: relative;
  width: 100%;
  height: auto;
}

/* RESPONSIVE */
.position {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D8D8D8;
  padding-top: 10px;
}
.position h2 {
  font-family: "Roboto", " sans serif ";
  font-size: 1rem;
  font-weight: 500;
  padding-left: 10px;
}

.exploration {
  text-align: center;
  background-color: whitesmoke;
}
.exploration h2 {
  font-family: "Roboto", "sans serif";
  margin: 0;
  padding-top: 20px;
}
.exploration p {
  font-family: "Roboto", " sans serif";
  font-size: medium;
  padding-bottom: 20px;
}
.exploration button {
  color: white;
  padding: 20px 20px;
  border: none;
  border-radius: 25px;
  transition: all;
  margin-bottom: 40px;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
}
.exploration button:hover {
  transform: scale(1.05);
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 2px 1px 15px -2px #7e7e7e;
}

.operation {
  padding: 40px 20px;
  counter-reset: numbers;
}
.operation ol {
  display: flex;
  gap: 30px;
  flex-direction: column;
  padding: 10px;
  margin-right: -10px;
  white-space: nowrap;
  font-weight: bold;
}
.operation li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 10px;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
}
.operation li ::after {
  content: counter(numbers);
  counter-increment: numbers;
  color: white;
  background-color: #9356dc;
  padding: 8px;
  height: 7px;
  width: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}
.operation li:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: #f5edff;
}
.operation li:hover i::before {
  color: #9356dc;
}
.operation li i.fas {
  color: #7e7e7e;
  padding: 22px;
  padding-right: 5px;
}

.restaurants {
  background-color: #f3f3f3;
  padding: 30px 20px;
}
.restaurants h2 {
  margin-top: 20px;
}

.cube-restaurants {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
}

.card-image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-body {
  margin: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.card-body p1 {
  font-weight: bold;
  padding-left: 1%;
}
.card-body p2 {
  padding-left: 1%;
  padding-bottom: 3%;
}

.new {
  position: relative;
  border-radius: 10px;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  text-align: center;
  height: 1.8rem;
  width: 5rem;
  display: grid;
  place-items: center;
  background-color: #99e2d0;
  left: 75%;
  top: 5%;
}
@media screen and (max-width: 400px) {
  .new::before {
    left: 60%;
    top: 7%;
  }
}

.empty-heart {
  position: absolute;
  z-index: 0;
  font-size: 170%;
  left: 85%;
}
.empty-heart:hover {
  opacity: 0;
}

.full-heart {
  z-index: 1;
  font-size: 172%;
  position: absolute;
  left: 85%;
  opacity: 0;
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: solid;
}
.full-heart:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

.empty-heart-cheated {
  position: absolute;
  z-index: 0;
  font-size: 170%;
  left: 82.5%;
}
.empty-heart-cheated:hover {
  opacity: 0;
}
@media screen and (min-width: 1000px) {
  .empty-heart-cheated {
    left: 83%;
  }
}

.full-heart-cheated {
  z-index: 1;
  font-size: 172%;
  position: absolute;
  left: 82.5%;
  opacity: 0;
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: solid;
}
@media screen and (min-width: 1000px) {
  .full-heart-cheated {
    left: 83%;
  }
}
.full-heart-cheated:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

footer {
  background-color: #353535;
  padding: 5% 8%;
}
footer h2 {
  font-family: "Shrikhand", " cursive";
  color: white;
  padding-bottom: 15px;
}
footer p {
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  padding-right: 8px;
}

@-webkit-keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
a {
  text-decoration: none;
  color: black;
}

main {
  background-color: #f6f6f6;
}

.padding-cheat {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.header-menu {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.1rem;
  position: relative;
  width: 100%;
  height: auto;
}
.header-menu::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font awesome 5 free";
  content: "\f060";
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  display: flex;
  align-items: flex-start;
  top: 35%;
  padding-left: 20px;
}
.header-menu:hover::before {
  transform: scale(1.1);
  cursor: pointer;
}

.picture {
  display: block;
  width: 100%;
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.empty-heart {
  position: absolute;
  z-index: 0;
  font-size: 170%;
  left: 85%;
}
.empty-heart:hover {
  opacity: 0;
}

.full-heart {
  z-index: 1;
  font-size: 172%;
  position: absolute;
  left: 85%;
  opacity: 0;
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: solid;
}
.full-heart:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}

.colored-border {
  border-bottom: 2px solid #99e2d0;
  max-width: 40px;
}
.colored-border p {
  margin-bottom: 4px;
}

.menu-size {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  position: relative;
  margin-top: -50px;
}
.menu-size h2 {
  font-family: "Shrikhand", "cursive";
  padding-top: 30px;
  padding-left: 20px;
  white-space: nowrap;
}

.menu-badge {
  width: auto;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin-top: 30px;
  border: 0.5px solid #f2f2f2;
  background-color: white;
  text-overflow: ellipsis;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
}

.chicken-adjust {
  padding-top: 10px;
  padding-bottom: 10px;
}

.price-pad {
  display: inline-block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.price-bold {
  font-weight: bold;
}

.gap-reduc {
  line-height: 5px;
}

.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-flex button {
  color: white;
  padding: 20px 80px;
  border: none;
  border-radius: 25px;
  transition: all;
  margin-top: 30px;
  margin-bottom: 100px;
  box-shadow: 2px 1px 8px -2px #7e7e7e;
  background-image: linear-gradient(rgb(255, 121, 218), rgb(147, 86, 220));
}
.button-flex button:hover {
  transform: scale(1.05);
  opacity: 0.9;
  cursor: pointer;
  box-shadow: 2px 1px 15px -2px #7e7e7e;
}

.slide-left {
  -webkit-animation: slide-left 0.5s ease-in-out both;
          animation: slide-left 0.5s ease-in-out both;
}
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}/*# sourceMappingURL=style.css.map */