@use "../tools/colors.scss";
@use "../tools/mixin.scss";
@use "../tools/variables.scss";

.restaurants {
    background-color: colors.$WhiteSmoke;
    padding: 30px 20px;
   
    
    & h2 { 
        margin-top: 20px;

    }
   
}


.cube-restaurants {
    width: 100%;
    
    height: auto;
    background-color: white;
    border-radius: 20px;
    @include mixin.box-shadow;
    
   
    

}

.card-image {
   object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 15px 15px 0 0;
  
}

.card-body {
    
    p1 {
        font-weight: bold;
        padding-left: 1%;
    }
    p2 {
        padding-left: 1%;
        padding-bottom: 3%;
    }
   
    margin: 20px;
    gap: 5px;
   
    @include mixin.flex-column-start;


   
}   



.new {
    position: relative;
    border-radius: 10px;
    
}
.new::before {
    content: "Nouveau";
    
    position: absolute;
    text-align: center;
    height: 1.8rem;
    width: 5rem;
    display: grid;
    place-items: center;
    background-color: colors.$tertiary;
    left: 75%;
    top: 5%;
    @media screen and (max-width:variables.$breakpoint2 ) {
       left: 60%;
       top: 7%;
    }
}

.empty-heart {
   
    
    position: absolute; 
    z-index: 0;
    font-size: 170%;
    left: 370px;

    &:hover {
        opacity: 0;
    }
}

.full-heart {
    z-index: 1;
    font-size: 172%;
    
    position: absolute;
   left: 370px;
    opacity: 0;
    background-image: linear-gradient(rgba(255, 121, 218, ), rgba(147, 86, 220,));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: solid; 
    &:hover {
        opacity: 1;
        cursor: pointer;
        transform: scale(1.1);
    }
}

.pad-heart-cheat {
    padding-left: 20px;
}
  
 

